.faq{
    text-align: center;
    padding: 2rem;
}
.faq img{
    width: 20%;
}
.accordion-faq{
    margin-top: 1.5rem;
}
.faq h1{
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.faq .accordion{
    margin-bottom: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.faq .accordion-button{
    font-weight: 500;
}
.faq .accordion-body{
    text-align: left;
}
.faq .accordion-button:not(.collapsed) {
    background-color: var(--background-light-blue);
}
.span-fqa{
    color: var(--color-blue-primary);
}
.question-icon{
    font-size: 22px;
    color: var(--color-green);
    margin-right: 10px;
}
@media screen and (max-width: 900px) {
    .faq img{
        width: 60%;
    }
}
