.menu-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido {
  width: 100%;
  margin: 0px;
}
.carousel-categ {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none !important;
  margin-right: 35px;
  margin-left: 15px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.card-products {
  background: white;
  scroll-snap-align: start;
  border-radius: 25px;
  min-height: 120px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  border: none;
  cursor: pointer;
}
.card-products:focus {
  outline: none;
}

.fav {
  font-size: 70px;
  color: var(--color-green);
  z-index: 1;
}
.card-products h6 {
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 2px;
}
.card-products img {
  width: 70px;
}
.menu-categories {
  box-shadow: none;
  border-radius: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 37%);
}
